body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    background-color: rgb(51, 50, 50);
    color: #fff;
    text-align: center;

    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}

h1, h2{
    font-weight: 300;
}

#Cards{
    display: flex;
    flex-wrap: wrap;
}

#App{
    display: flex;
    flex-direction: column;
}
